h1 {
	text-align: center;
	font-size: 18px;
}

.text-success {
	font-weight: bold;
}

.container {
	margin-top: 50px;
}

.stars {
	color: white;
	font-size: 20px;
	letter-spacing: 20px;
}

.text-danger, .text-white {
	font-size: 20px;
}

.btn, .btn-success {
	float: right;
}